/* Growing Love Section */
#growingLove-section
{
  margin-top: 120px;
  padding-bottom: 120px;
  background-color: white;
}
#growingLove-section .container
{
  min-height: 600px;
  background-color: #F5F5F5;
  border: 1px solid black;
}
#growingLove-section .container .text-area
{
  padding: 120px 80px;
  max-height: 600px;
}
#growingLove-section .container .imageArea
{
  max-height: 600px;
}
#growingLove-section .container .imageArea img
{
  height: 600px;
}

#growingLove-section .container .row .text-area .p1
{
  font-weight: 300px;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 20px;
}
#growingLove-section .container .p2
{
  font-weight: 300px;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}
#growingLove-section .container .growingLoveBtn
{
  width: 140px;
  height: 42px;
  border-radius: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
  text-align: center;
  margin-bottom: 35px;
}



/* Styles for smaller desktops */
@media screen and (max-width: 1440px)
{
  #growingLove-section
  {
    margin-top: 90px;
    padding-bottom: 100px;
  }
  #growingLove-section .container .imageArea img
  {
    height: 600px;
  }

  #growingLove-section .container .row .text-area .p1
  {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 20px;
  }
  #growingLove-section .container .p2
  {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  #growingLove-section .container .growingLoveBtn
  {
    width: 130px;
    height: 40px;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 30px;
  }
}

/* Styles for OverFlowingData */
@media screen and (max-width: 991px)
{
  #growingLove-section
  {
    margin-top: 70px;
    padding-bottom: 100px;
  }
  #growingLove-section .container .imageArea img
  {
    height: 600px;
  }

  #growingLove-section .container .row .text-area .p1
  {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  #growingLove-section .container .p2
  {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  #growingLove-section .container .growingLoveBtn
  {
    width: 130px;
    height: 40px;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 25px;
  }
}
/* Styles for Tablets */
@media screen and (max-width: 960px)
{
  #growingLove-section
  {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  #growingLove-section .container .imageArea img
  {
    height: 600px;
  }

  #growingLove-section .container .row .text-area .p1
  {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  #growingLove-section .container .p2
  {
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  #growingLove-section .container .growingLoveBtn
  {
    width: 125px;
    height: 35px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px)
{
  #growingLove-section
  {
    margin-top: 60px;
    padding-bottom: 10px;
  }
  #growingLove-section .container .imageArea
  {
    width: 70%;
    padding: 0;
  }
  #growingLove-section .container .imageArea img
  {
    width: 100%;
    height: 400px;
    padding: 0;
  }

  #growingLove-section .container .row .text-area
  {
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  #growingLove-section .container .row .text-area .p1
  {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  #growingLove-section .container .p2
  {
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  #growingLove-section .container .growingLoveBtn
  {
    width: 125px;
    height: 35px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 30px;
  }  
}

/* Styles for Mobiles */
@media screen and (max-width: 576px)
{
  #growingLove-section
  {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 10px;
  }
  #growingLove-section .container
  {
    min-height: 600px;
    background-color: #F5F5F5;
    border: 0px solid black;
  }
  #growingLove-section .container .imageArea
  {
    width: 50%;
    padding: 0;
  }
  #growingLove-section .container .imageArea img
  {
    width: 100%;
    height: 400px;
    padding: 0;
  }

  #growingLove-section .container .row .text-area
  {
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  #growingLove-section .container .row .text-area .p1
  {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  #growingLove-section .container .p2
  {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  #growingLove-section .container .growingLoveBtn
  {
    width: 125px;
    height: 35px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 30px;
  }  
}

@media screen and (max-width: 398px)
{
  .text-area
  {
    padding: 40px;
  }
}